@tailwind base;
@tailwind components;
@tailwind utilities;

 .title-stroke {
    color: white; /* Color del texto */
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 3px #8749DE; /* Grosor y color del contorno */
}